/* body-css-start */
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
.price{
    color: orange;
}
.button{
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}

/*  women-jacket-css-start */

.card-photo{
    background-color:#F1F1F1;
    border-radius: 20px;
}
.card-photo img{
    width: fit-content;
}
.buy-card{
    border: none;
    border-radius: 20px;
}

/* abous us - css start */
.icon-png img{
    width: 78px;
    height: 82px;

}
.about-card{
    margin-bottom: 15px;
    border-radius: 10px;
}
.contact-card{
    border-radius: 10px;
    border: none;
}

.card-row{
    float: left;
}